<!DOCTYPE html>
<head>
  <!--HEADER INFO FOR HTML DOC-->
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  <!--LOAD STATIC-->
  {% load static %}
  <link href="{% static 'twitter/style/style.css' %}" rel="stylesheet">
  <title>Environmental Tweets</title>
</head>

<body onload="tweets.style.display = 'none';">
  <h1>Snapshot of Environmental Twitter Activity</h1>
  <!-- create sidebar -->
  <div style="text-align: left; position: fixed; color: black; top: 10px; left: 10px; font-family: 'Raleway', sans-serif;">
    <a style='text-decoration: none; color: black; cursor: pointer' onclick='loadTweets()'><img style='vertical-align: middle; width: 30px;' src="{% static 'twitter/reload.png' %}"> reload</a> <input value='{{ cap }}' style="font-size: 16px; font-family: 'Raleway', sans-serif; width: 45px" type='text' id='tweet-count'> tweets<br /><br />
    <a style='text-decoration: none; color: black' href='/methods'><img style='vertical-align: middle; width: 30px;' src="{% static 'twitter/methods.png' %}"> methodology</a><br />
  </div>

  <div style="font-weight: 200; font-family: 'Raleway', sans-serif; color: #031634;">
    <div class="graph">
      {{ error }}<br />
      <!-- load graphs -->
      {{ graph|safe }}
      {{ tzGraph|safe }}
      {{ tsGraph|safe }}
      <br /><br />
      <!-- load info -->
      Average Sentiment: {{ mean }}<br /><br />
      Median Sentiment: {{ median }}<br /><br />
      <button id="tweetButton" onclick="showTweets()">Show Tweets</button>
    </div>
    <br />
    <!-- show all tweets collected -->
    <div class="tweets" id="tweets">
      <table>
        <tr><th>Count</th><th>User</th><th>Tweet</th><th>Sentiment</th><th>Timezone</th></tr>
        {% for item in items %}
            <tr><td>{{ item.count }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.text }}</td>
            <td>{{ item.avg }}</td>
            <td>{{ item.tz }}</td></tr>
        {% endfor %}
      </table>
    </div>
  </div>
</body>

<script>
// show tweets on button click
function showTweets() {
  var tweets = document.getElementById('tweets');
  console.log(tweets.style.display)
  if (tweets.style.display == "none") {
    tweets.style.display = "block";
    document.getElementById('tweetButton').innerHTML = "Hide Tweets"
  }
  else {
    tweets.style.display = "none";
    document.getElementById('tweetButton').innerHTML = "Show Tweets"
  }
}

//loads tweets using user given cap
function loadTweets() {
  location.href = "/?cap=" + document.getElementById('tweet-count').value
}

</script>
