<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  {% load static %}
  <link href="{% static 'twitter/style/style.css' %}" rel="stylesheet">
  <title>Environmental Tweets</title>
</head>

<body onload="getCharts()">
  <div style="position: absolute; left: 50%; top: 50%; width: 400px; height: 300px; margin-left: -200px; margin-top: -150px; font-size: 30px; font-weight: 200; font-family: 'Raleway', sans-serif; color: #031634;">
      Loading and analyzing Twitter data, please wait.<br />
      <div style='display:inline-block' id='status'></div>
      <div style='font-size: 50px' id='dots'></div>
  </div>
</body>

<script>

function getCharts() {
  window.setInterval(function() {
    if (document.getElementById("dots").innerHTML == "•••") document.getElementById("dots").innerHTML = ""
    document.getElementById("dots").innerHTML += "&bull;"
  }, 500)

  location.href = "/load_charts"

}

</script>
